.Header{
    display: flex;
    background-color: lightgray;
    height: 4.5rem;
}
h3{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.5rem;
    margin-top: 15px;
}
.logoutBtn{
    background-color: cadetblue;
    text-align: center;
    height: 2.5rem;
    width: 5rem;
    margin-left: 65rem;
    margin-top: 1rem;
    border-radius: 6px;
}
img{
    height: 4rem;
    margin-left: 2rem;
    border-radius: 50%;
}
.container{
    margin-top: 8rem;
    padding-left: 5%;
}
input{
    height: 2rem;
    width: 20rem;
    border-radius: 0.5rem;
    border-style: none;
    text-align:start;
}
select{
    margin-left: 1.5rem;
    height: 2rem;
    width: 7rem;
    border-radius: 0.5rem;
    border-style: none;
}
.btnAdd{
    margin-left: 1.5rem;
    height: 2rem;
    width: 3rem;
    border-radius: 45%;
    border-style: none;
    
}